use strict;

{% if amavis_myhostname is defined %}
$myhostname = '{{amavis_myhostname}}';
{% endif %}

$sa_spam_subject_tag = {{ amavis_sa_spam_subject_tag | default('\'***SPAM***\'') }};
$sa_tag_level_deflt  = {{ amavis_sa_tag_level_deflt | default('2.0') }};  # add spam info headers if at, or above that level
$sa_tag2_level_deflt = {{ amavis_sa_tag2_level_deflt | default('6.31') }}; # add 'spam detected' headers at that level
$sa_kill_level_deflt = {{ amavis_sa_kill_level_deflt | default('6.31') }}; # triggers spam evasive actions
$sa_dsn_cutoff_level = {{ amavis_sa_dsn_cutoff_level | default('10') }};   # spam level beyond which a DSN is not sent

@local_domains_acl = ( "{{ '", "'.join(postfix_mydestination)  }}" );

{% if amavis_virus_checks %}
@bypass_virus_checks_maps = (
   \%bypass_virus_checks, \@bypass_virus_checks_acl, \$bypass_virus_checks_re);
{% endif %}

{% if amavis_spam_checks %}
@bypass_spam_checks_maps = (
   \%bypass_spam_checks, \@bypass_spam_checks_acl, \$bypass_spam_checks_re);
{% endif %}

1;  # ensure a defined return

