{% macro ifdef(key,value,default) %}
{% if value is defined %}
{{key}} = {{value}}
{% elif default is defined %}
{{key}} = {{default}}
{% endif %}
{% endmacro %}

# See /usr/share/postfix/main.cf.dist for a commented, more complete version


# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
{{ ifdef('myorigin',postfix_myorigin,ansible_hostname) }}

{{ ifdef('smtpd_banner', postfix_smtpd_banner, '$myhostname ESMTP $mail_name (Debian/GNU)') }}

{{ ifdef('biff', postfix_biff, 'no') }}

# appending .domain is the MUA's job.

{{ ifdef('append_dot_mydomain', postfix_append_dot_mydomain, 'no') }}

# Uncomment the next line to generate "delayed mail" warnings

{{ ifdef('delay_warning_time', postfix_delay_warning_time) }}

{{ ifdef('readme_directory', postfix_readme_directory, 'no') }}

# TLS parameters

{{ ifdef('smtpd_tls_cert_file', postfix_smtpd_tls_cert_file) }}

{% if postfix_smtpd_use_tls is defined and postfix_smtpd_use_tls == true %}
smtpd_use_tls = yes

{{ ifdef('smtpd_tls_cert_file',postfix_smtpd_tls_cert_file, '/etc/postfix/server.crt') }}

{{ ifdef('smtpd_tls_key_file', postfix_smtpd_tls_key_file, '/etc/postfix/server.key') }}

smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
{% endif %}

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

{{ ifdef('myhostname', postfix_myhostname ) }}

{{ ifdef('alias_maps', postfix_alias_maps, 'hash:/etc/aliases') }}
{{ ifdef('alias_database', postfix_alias_database, 'hash:/etc/aliases') }}

mydestination = {{ postfix_mydestination | join(" ") }}

{{ ifdef('relayhost', postfix_relayhost) }}
{{ ifdef('mynetworks', postfix_mynetworks, '127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128') }}
{{ ifdef('mailbox_size_limit', mailbox_size_limit, 0) }}
{{ ifdef('recipient_delimiter', postfix_recipient_delimiter, '+') }}
{{ ifdef('inet_interfaces', postfix_inet_interfaces, 'loopback-only') }}
{{ ifdef('mailbox_transport', postfix_mailbox_transport) }}
{{ ifdef('smtpd_recipient_restrictions', postfix_smtpd_recipient_restrictions, 'permit_mynetworks,permit_sasl_authenticated,reject_unauth_destination') }}

{% if smtpd_recipient_restrictions_check is defined  or postfix_webclient_restrictions is defined %}
webclient_restrictions = {{ smtpd_recipient_restrictions_check | default("") }} {{ postfix_webclient_restrictions | default("") }}
{% endif %}

{{ ifdef('content_filter', postfix_content_filter) }}
{{ ifdef('message_size_limit', postfix_message_size_limit, 40000000) }}
{{ ifdef('smtpd_relay_restrictions', postfix_smtpd_relay_restrictions, 'permit_mynetworks,permit_sasl_authenticated,reject_unauth_destination') }}

{% if postfix_smtpd_sasl_auth_enable is defined and postfix_smtpd_sasl_auth_enable == true%}
smtpd_sasl_auth_enable = yes
{{ ifdef('smtpd_sasl_path', postfix_smtpd_sasl_path, 'smtpd') }}
{{ ifdef('smtpd_sasl_local_domain', postfix_smtpd_sasl_local_domain) }}
{{ ifdef('smtpd_sasl_authenticated_header', postfix_smtpd_sasl_authenticated_header) }}
{{ ifdef('smtpd_sasl_security_options', postfix_smtpd_sasl_security_options) }}
{{ ifdef('smtpd_recipient_restrictions', postfix_smtpd_recipient_restrictions) }}
{{ ifdef('broken_sasl_auth_clients', postfix_broken_sasl_auth_clients) }}
{% endif %}


#SASL authentification for client
{% if postfix_smtp_sasl_auth_enable is defined and postfix_smtp_sasl_auth_enable %}
smtp_sasl_auth_enable = yes
{{ ifdef('smtp_sasl_password_maps', postfix_smtp_sasl_password_maps, 'hash:/etc/postfix/sasl_passwd') }}
{{ ifdef('smtp_sasl_type', postfix_smtp_sasl_type) }}
{{ ifdef('smtp_sasl_security_options',postfix_smtp_sasl_security_options) }}
{{ ifdef('smtp_sender_dependent_authentication',postfix_smtp_sender_dependent_authentication) }}

{% endif %}

{{ ifdef('mailbox_transport',postfix_mailbox_transport) }}

{{ ifdef('smtpd_helo_required',postfix_smtpd_helo_required) }}

{{ ifdef('smtpd_helo_restrictions',postfix_smtpd_helo_restrictions) }}
{{ ifdef('disable_vrfy_command',postfix_disable_vrfy_command) }}
{{ ifdef('strict_rfc821_envelopes',postfix_strict_rfc821_envelopes) }}
{{ ifdef('smtpd_client_restrictions',postfix_smtpd_client_restrictions) }}
{{ ifdef('smtpd_sender_restrictions',postfix_smtpd_sender_restrictions) }}

{{ ifdef('smtpd_milters',postfix_smtpd_milters) }}
{{ ifdef('milter_default_action',postfix_milter_default_action) }}

#Sender dependant routing configuration

{% for l in postfix_additional_main_lines %}
{{l}}
{% endfor %}

{% for m in postfix_maps|join_postfix_maps %}
{{m.name}}_maps = {{m.value}}
{% endfor %}

{% if postfix_install_postsrsd %}
sender_canonical_maps = tcp:127.0.0.1:10001
recipient_canonical_maps = tcp:127.0.0.1:10002
{{ ifdef('sender_canonical_classes', postfix_sender_canonical_classes, 'envelope_sender') }}
{{ ifdef('recipient_canonical_classes', postfix_recipient_canonical_classes, 'envelope_recipient,header_recipient') }}
{% endif %}

{{ postfix_additional_main_config }}

receive_override_options = {{ postfix_receive_override_options | default('') }}

milter_macro_daemon_name = {{ postfix_milter_macro_daemon_name }}