# ==========================================================================
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (yes)   (never) (100)
# ==========================================================================
{% if postfix_smtp_service %}
smtp      inet  n       -       -       -       -       smtpd
{% if postfix_cleanup_service_name is defined and postfix_cleanup_service_name == 'pre-cleanup' %}
    -o cleanup_service_name=pre-cleanup
{% endif %}
{% endif %}

{% if postfix_submission_service %}
submission inet n       -       -       -       -       smtpd
  -o smtpd_tls_security_level=encrypt
  -o smtpd_sasl_auth_enable=yes
  -o smtpd_client_restrictions=permit_sasl_authenticated,reject
  -o milter_macro_daemon_name=ORIGINATING
{% endif %}

{% if postfix_smtps_service %}
smtps     inet  n       -       -       -       -       smtpd
  -o smtpd_tls_wrappermode=yes
  -o smtpd_sasl_auth_enable=yes
  -o smtpd_client_restrictions=permit_sasl_authenticated,reject
  -o milter_macro_daemon_name=ORIGINATING
{% endif %}

#628      inet  n       -       -       -       -       qmqpd
pickup    fifo  n       -       -       60      1       pickup
{% if postfix_cleanup_service_name is defined and postfix_cleanup_service_name == 'pre-cleanup' %}
pre-cleanup unix n       -       y       -       0       cleanup
    -o virtual_alias_maps=
{% endif %}
cleanup   unix  n       -       -       -       0       cleanup
qmgr      fifo  n       -       n       300     1       qmgr
#qmgr     fifo  n       -       -       300     1       oqmgr
tlsmgr    unix  -       -       -       1000?   1       tlsmgr
rewrite   unix  -       -       -       -       -       trivial-rewrite
bounce    unix  -       -       -       -       0       bounce
defer     unix  -       -       -       -       0       bounce
trace     unix  -       -       -       -       0       bounce
verify    unix  -       -       -       -       1       verify
flush     unix  n       -       -       1000?   0       flush
proxymap  unix  -       -       n       -       -       proxymap
proxywrite unix -       -       n       -       1       proxymap
smtp      unix  -       -       -       -       -       smtp
# When relaying mail as backup MX, disable fallback_relay to avoid MX loops
relay     unix  -       -       -       -       -       smtp
	-o smtp_fallback_relay=
#       -o smtp_helo_timeout=5 -o smtp_connect_timeout=5
showq     unix  n       -       -       -       -       showq
error     unix  -       -       -       -       -       error
retry     unix  -       -       -       -       -       error
discard   unix  -       -       -       -       -       discard
local     unix  -       n       n       -       -       local
virtual   unix  -       n       n       -       -       virtual
lmtp      unix  -       -       -       -       -       lmtp
anvil     unix  -       -       -       -       1       anvil
scache    unix  -       -       -       -       1       scache
#
# ====================================================================
# Interfaces to non-Postfix software. Be sure to examine the manual
# pages of the non-Postfix software to find out what options it wants.
# ====================================================================
maildrop  unix  -       n       n       -       -       pipe
  flags=DRhu user=vmail argv=/usr/bin/maildrop -d ${recipient}

uucp      unix  -       n       n       -       -       pipe
  flags=Fqhu user=uucp argv=uux -r -n -z -a$sender - $nexthop!rmail ($recipient)

ifmail    unix  -       n       n       -       -       pipe
  flags=F user=ftn argv=/usr/lib/ifmail/ifmail -r $nexthop ($recipient)

bsmtp     unix  -       n       n       -       -       pipe
  flags=Fq. user=bsmtp argv=/usr/lib/bsmtp/bsmtp -t$nexthop -f$sender $recipient

scalemail-backend unix	-	n	n	-	2	pipe
  flags=R user=scalemail argv=/usr/lib/scalemail/bin/scalemail-store ${nexthop} ${user} ${extension}

mailman   unix  -       n       n       -       -       pipe
  flags=FR user=list argv=/usr/lib/mailman/bin/postfix-to-mailman.py
  ${nexthop} ${user}

{% for i in postfix_additional_inet_interfaces %}
{{i.address}} inet    n       -       -       -       -       smtpd
        -o content_filter={{i.content_filter | default ("") }}
        -o local_recipient_maps={{ i.local_recipient_maps | default("") }}
        -o relay_recipient_maps={{ i.relay_recipient_maps | default("") }}
        -o smtpd_restriction_classes={{ i.smtpd_restriction_classes | default("") }}
        -o smtpd_delay_reject={{ i.smtpd_delay_reject | default("no") }}
        -o smtpd_client_restrictions={{ i.smtpd_client_restrictions | default("permit_mynetworks,reject") }}
        -o smtpd_helo_restrictions={{ i.smtpd_helo_restrictions | default("") }}
        -o smtpd_sender_restrictions={{ i.smtpd_sender_restrictions | default("") }}
        -o smtpd_recipient_restrictions={{ i.smtpd_recipient_restrictions| default("permit_mynetworks,reject") }}
        -o smtpd_data_restrictions={{ i.smtpd_data_restrictions | default("reject_unauth_pipelining") }}
        -o smtpd_end_of_data_restrictions={{ i.smtpd_end_of_data_restrictions | default("") }}
        -o mynetworks={{ i.mynetworks | default("127.0.0.0/8") }}
        -o smtpd_error_sleep_time={{ i.smtpd_error_sleep_time | default(0) }}
        -o smtpd_soft_error_limit={{ i.smtpd_soft_error_limit | default(1001) }}
        -o smtpd_hard_error_limit={{ i.smtpd_hard_error_limit | default(1000) }}
        -o smtpd_client_connection_count_limit={{ i.smtpd_client_connection_count_limit | default(0) }}
        -o smtpd_client_connection_rate_limit={{ i.smtpd_client_connection_rate_limit | default(0) }}
        -o receive_override_options={{ i.receive_override_options | default("no_header_body_checks,no_unknown_recipient_checks") }}
{% endfor %}

{% if postfix_install_amavis %}
127.0.0.1:10025 inet    n       -       -       -       -       smtpd
        -o content_filter=
        -o local_recipient_maps=
        -o relay_recipient_maps=
        -o smtpd_restriction_classes=
        -o smtpd_delay_reject=no
        -o smtpd_client_restrictions=permit_mynetworks,reject
        -o smtpd_helo_restrictions=
        -o smtpd_sender_restrictions=
        -o smtpd_recipient_restrictions=permit_mynetworks,reject
        -o smtpd_data_restrictions=reject_unauth_pipelining
        -o smtpd_end_of_data_restrictions=
        -o mynetworks=127.0.0.0/8
        -o smtpd_error_sleep_time=0
        -o smtpd_soft_error_limit=1001
        -o smtpd_hard_error_limit=1000
        -o smtpd_client_connection_count_limit=0
        -o smtpd_client_connection_rate_limit=0
        -o receive_override_options={{postfix_amavis_receive_override_options}}

smtp-amavis     unix    -       -       y       -       2       smtp
        -o smtp_data_done_timeout=1200
        -o disable_dns_lookups=yes
        -o smtp_send_xforward_command=yes
	-o max_use=20
{% endif %}

{% if postfix_install_policyd_spf %}
policy-spf  unix  -       n       n       -       0       spawn
     user=nobody argv=/usr/bin/python /usr/bin/policyd-spf /etc/postfix-policyd-spf-python/policyd-spf.conff
{% endif %}

{{ postfix_additional_master_config }}
