user = {{ item[1].user }}
password = {{ item[1].password | default("") }}
hosts = {{ item[1].hosts | default("127.0.0.1") }}
dbname = {{ item[1].dbname }}

{% if item[1].table is defined %}
table = {{ item[1].table }}
{% endif %}

{% if item[1].select_field is defined %}
select_field = {{ item[1].select_field }}
{% endif %}

{% if item[1].where_field is defined %}
where_field = {{ item[1].where_field }}
{% endif %}

{% if item[1].query is defined %}
query    = {{ item[1].query }} 
{% endif %}

