server_host = {{ item[1].server_host }}

{% if item[1].server_port is defined %}
server_port = {{ item[1].server_port }}
{% endif %}

search_base = {{ item[1].search_base }}
query_filter = {{ item[1].query_filter }}
result_attribute = {{ item[1].result_attribute }}

{% if item[1].bind is defined %}
bind = {{ item[1].bind }}
bind_dn = {{ item[1].bind_dn }}
bind_pw = {{ item[1].bind_pw }}
{% endif %}

{% if item[1].version is defined %}
version = {{ item[1].version }}
{% endif %}
