pwcheck_method: {{postfix_smtpd_sasl_pwcheck_method | default('auxprop') }}
{% if postfix_smtpd_sasl_pwcheck_method is not defined or postfix_smtpd_sasl_pwcheck_method == 'auxprop' %}
auxprop_plugin: {{postfix_smtpd_sasl_auxprop_plugin | default('sasldb') }} 
{% endif %}
mech_list: {{ postfix_smtpd_sasl_mech_list | default('PLAIN LOGIN') }}
saslauthd_path: {{ postfix_smtpd_saslauthd_path | default('/var/run/saslauthd/mux') }}
autotransition:true
log_level: 3

